#banner
     .banner_content
          %h1 File Cabinet
          %p  Personal Storage, Organized as always!
          %button= link_to "Enter", new_user_registration_path
          
#callouts
     .callout_inner
          .wrapper
               .callout
                    %h2 Organize
                    %p Maecenas in porta tortor. Etiam eu magna sapien. Nulla sit amet pulvinar tellus. Praesent in molestie ipsum. Pellentesque sit amet rhoncus tortor, in molestie lectus. Sed erat velit, tempus in rhoncus vel, viverra et velit. Nulla leo ante, sagittis sit amet consequat non, bibendum eget lectus. Suspendisse faucibus eu ipsum eu facilisis.

#bottom_cta
     .wrapper
          %h2 Go Ahead!
          %br
          %button= link_to "Join Now", new_user_registration_path